@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited { 
    color: gray ;
}

.avatar {
    width: 300px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25) ;
    margin-right: 30px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.info-text h4 {
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .info {
        text-align: center;
        display: block;
    }
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 60px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), 
.table td:nth-child(3) {
    color: #86898f;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row .form-group {
    width: 50%;
}

.row .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: black;
    color: #fff;
    border: none;
    font-family: inherit;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}